@font-face {
  font-family: 'star-wars';
  src: url('../fonts/starwars.ttf');
}

.menu-container{
  padding-top: 50px;
  text-align: center;
}

.menu-main-text{
  color: yellow;
  font-family: 'star-wars', Arial, Helvetica, sans-serif;
  font-size: 75px;
  text-align: center;
}

.instructions{
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  list-style: none;
}

.instructions li{
  padding-bottom: 20px;
}

.star-invaders-container{
  margin: auto;
  height: 655px;
}
.star-invaders{
  width: 540px;
  position: relative;
  overflow: hidden;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  float: left;
}

.status-container{
  width: 170px;
  float: left;
  border-right: 2px solid #ffffff;
}

.buttons-container{
  width: 170px;
  float: left;
  border-left: 2px solid #ffffff;
}

.boss-health-text, .boss-shield-text, .boss-text, .player-text, .player-health-text, .player-shield-text{
  color: #ffffff;
  text-align: center;
}

.score-text, .score, .hi-score-text, .hi-score, .level-text{
  color: #ffffff;
  font-size: 18px;
  padding: 15px 15px 0 15px;
  font-weight: bold;
}

.level-text{
  text-align: center;
}

.hi-score{
  padding-bottom: 30px;
}

.boss-text, .player-text{
  font-size: 18px;
  font-weight: bold;
}

.boss-health-container, .boss-shield-container, .player-health-container, .player-shield-container{
  border: 2px solid #ffffff;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.boss-health{
  position: absolute;
  background-color: red;
}
.player-health{
  position: absolute;
  background-color: blue;
}
.boss-shield, .player-shield{
  position: absolute;
  background-color: #00ffff;
}

.boss-inner-container, .player-inner-container{
  float: left;
  margin: 10px 0;
}

.player-container, .boss-container{
  position: absolute;
  padding: 15px;
}

.player {
  height: 73px;
  width: 49px;
  background: url("../images/star-wars-sprite.png");
  position: absolute;
}

.alien{
  z-index: 10;
}

.game-over, .level-complete{
  color: #ffffff;
  top: 80px;
  padding: 40px;
  font-size: 40px;
  background: black;
  border: 2px solid #ffffff;
  font-weight: 900;
  text-align: center;
}

.game-over{
  left: 116px;
}

.level-complete{
  left: 41px;
}

.new-game-btn, .menu-btn, .pause-btn, .continue-btn, .start-btn, .menu-level-btn, .menu-boss-round-btn{
  border: 1px solid #ffffff;
  background-color: red;
  color: white;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
}

.menu-level-btn, .menu-boss-round-btn{
  font-size: 16px;
}

.menu-level-btn{
  margin-right: 15px;
}

.start-btn{
  text-align: center;
}

.new-game-btn, .menu-btn, .pause-btn {
  margin: 15px;
  width: 140px;
}

.new-game-btn:hover, .menu-btn:hover, .pause-btn:hover, .continue-btn:hover, .start-btn:hover,
.menu-level-btn:hover, .menu-boss-round-btn:hover{
  background-color: darkred;
}

.loading-screen-container{
  text-align: center;
  margin: auto;
  padding-top: 150px;
}

.loading-text{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

.menu-level-container{
  width: 600px;
  margin: 60px auto;
}

.menu-level-text{
  color: #ffffff;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.menu-levels li{
  margin: 30px 0;
}

.menu-level-name{
  color: #ffffff;
  text-align: left;
  float: left;
  width: 49%;
  font-size: 18px;
  line-height: 33px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
